.root-app-bar {
  top: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 2.5rem;
}

.root-app-bar-logo {
  font-weight: bold;
  height: 100%;
  padding: 0.5rem;
}

.root-app-bar-logo img {
  height: 100%;
  width: auto;
  pointer-events: none;
}

.root-app-bar-logo:not(.is-desktop) {
  margin-left: 0.25rem;
  filter: brightness(3);
}

.root-app-breadcrumb {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0 1rem;
}

.root-app-breadcrumb span {
  background: var(--color-black);
  color: var(--color-white);
  padding: 0.25rem 1rem;
  border-radius: 0.25rem;
  font-size: 0.75rem;
}

