.node-context {
  position: absolute;
  top: calc(100% + 1.5rem);
  left: 50%;
  padding: 1rem;
  cursor: default;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  transform: translateX(-50%) translateY(-50%) scale(0);
  opacity: 0;
  pointer-events: none;
  z-index: 100;
}

.node.active + .node-context {
  transform: translateX(-50%) translateY(0%) scale(1);
  opacity: 1;
  pointer-events: auto;
}

.node-context.side {
  left: calc(100% + 2rem);
  top: 50%;
  max-height: 50vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.node.active + .node-context.side {
  transform: translateX(0%) translateY(-50%) scale(1);
}

.context-canvas {
  grid-column: 1 / -1;
  flex-basis: 100%;
}

.context-break {
  flex-basis: 100%;
  height: 0;
}

.context-length {
  flex-basis: 100%;
  height: 0;
  display: flex;
  gap: 0.5rem;
  margin-top: -20px;
}

