.glass-input {
  backdrop-filter: blur(1rem) !important;
  -webkit-backdrop-filter: blur(1rem);
  background: #7f7f7f88;
  border: 0.25rem solid #ffffff1a;
  border-radius: 0.75rem;
  font-size: 1rem;
  padding: 0.5rem;
  cursor: text;
  outline: none;
  font-family: "JetBrains Mono", monospace;
  position: relative;
}

.glass-input:focus {
  border-color: var(--color-secondary);
}

